<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="/js/management.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            showStudents();
        });
    </script>
</head>
<body>
<div class="col-sm-12" style="text-align: center">
    <p>
        <span style="font-size: xx-large">
            显示学生信息
        </span>
    </p>
</div>
<div class="col-sm-12" style="text-align: center; margin-top: 50px">
    <div class="col-sm-12" id="show" style="text-align: center"></div>
</div>
</body>
</html>